<!--
  Generated template for the BestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detail Best</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<img src="{{selectedDet.photo}}" alt="">
		<ion-item center>{{selectedDet.tittle}}</ion-item>
	</ion-list>
</ion-content>
