<ion-header>
  <ion-navbar>
    <ion-title>
      All Product
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides pager="true" loop="true" zoom="true">
		<ion-slide *ngFor="let data of products">
			<div class="swiper-zoom-container">
				<img src="{{data.photo}}" alt="">
		    </div>
			<h4>{{data.tittle}}</h4>
			<button ion-button color="primary" (click)="detailPage(data)">Order</button>
		</ion-slide>
	</ion-slides>

	<!-- <ion-card *ngFor="let data of products">
	  <ion-card-header>
	    <img src="{{data.photo}}">
	  </ion-card-header>
	  <ion-card-content>
	    <button ion-button color="primary">Order</button>
	  </ion-card-content>
	</ion-card> -->
</ion-content>
