<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Products" tabIcon="md-list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Best Seller" tabIcon="trophy"></ion-tab>
</ion-tabs>
