<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-buttons>
  		<button ion-button (click)="closeModal()">
	  		<ion-icon name="md-close-circle" left></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label>Good</ion-label>
			<ion-toggle [(ngModel)]="goodSelected"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>Bad</ion-label>
			<ion-toggle [(ngModel)]="badSelected"></ion-toggle>
		</ion-item>
	</ion-list>

</ion-content>
