<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item-sliding *ngFor="let list of deletelists">
			<ion-item>{{list}}</ion-item>
			<ion-item-options side="left">
			
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>

