<ion-header>
  <ion-navbar>
    <ion-title>
      Best Seller
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of bestSeller">
    <ion-card-header>
      <img src="{{data.photo}}">
    </ion-card-header>
    <ion-card-content>
      <button ion-button color="primary" (click)="detailPage(data)">Detail</button>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="openFilter()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
