<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons left>
      <button ion-button (click)="openTodoAlert()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>  
    <ion-buttons left>
      <button (click)="toggleReorder()" ion-button *ngIf="!reorderIsEnabled">EDIT</button>
    </ion-buttons>
    <ion-buttons left>
      <button (click)="toggleReorder()" ion-button *ngIf="reorderIsEnabled">DONE</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReorder($event)">
    <!-- Pemangilan data -->
    <ion-item-sliding *ngFor="let list of lists; let listIndex = index">
      <ion-item-options side="left">
        <!-- edit data -->
        <button ion-button color="dark" (click)="editList(listIndex)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item>{{list}}</ion-item>
      <ion-item-options side="right">
        <!-- hapus data -->
        <button ion-button color="danger" (click)="deleteList(listIndex)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  <!--  Learn example -->
    <!-- <ion-item-sliding>
      <ion-item>Two</ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" outline>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>Three</ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" clear>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>Four</ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" round>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>

  <!-- link tab -->
  <ion-fab right bottom>
    <button ion-fab (click)="newspage()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-fab>

<!-- fungsi (click) Intro to push == [navPush] pop navigation -->
  <!-- <ion-fab left bottom>
    <button ion-fab [navPush]="newsTopage">
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
