<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pengiriman</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label floating color="primary">Nama</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating color="primary">Email</ion-label>
		<ion-input type="email"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating color="primary">No. Handphone</ion-label>
		<ion-input type="number"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating color="primary">Alamat pengiriman</ion-label>
		<ion-textarea type="text"></ion-textarea>
	</ion-item>
	<ion-item>
		<ion-label floating color="primary">Kode Pos</ion-label>
		<ion-input type="number"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label stacked color="primary">Item</ion-label>
		<ion-label>{{selectedItem.tittle}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label floating color="primary">Jumlah Pembelian</ion-label>
		<ion-input type="number" ></ion-input>
	</ion-item>
		<ion-item>
		<ion-label floating color="primary">Kota</ion-label>
		<ion-select>
			<ion-option>DeathlessVille</ion-option>
			<ion-option>SpliteVille</ion-option>
			<ion-option>KonoaeVille</ion-option>
			<ion-option>SunaVille</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<button ion-button full large color="primary">Kirim</button>
	</ion-item>
</ion-content>
